/* write your override styles here */

#wall .tag-1 { /*working*/
  display: none;
}


div#wall #tag-2 { /*working*/
  display: none;
}

div#wall div#tag-3.wicked { /*working*/
  display: none;
}

#wall .parent #tag-4 { /*working*/
  display: none;
}


div#wall div.parent #tag-5.slick { /*working*/
  display: none;
}

body div#wall div.parent div:last-child div#tag-6 { /*working*/
  display: none;
}

body div#wall div:last-child div div#tag-7.slick { /*working*/
  display: none;
}